.hero {
    background-color: #f8fbfd;
    padding: 60px 0;
  }
  
  .btn-dark-blue {
    background-color: #0a2a47;
    color: white;
  }
  
  .btn-dark-blue:hover {
    background-color: #081e33;
  }
  
  .logo {
    height: 60px;
  }